@import 'https://unpkg.com/open-props@1.5.6/gradients.min.css';

.noise {
  /* stack grain with a gradient */
  background-image: var(--gradient-1), var(--noise-4);
  /* force colors and noise to collide */
  filter: var(--noise-filter-5);
  /* fit noise image to element */
  background-size: cover;
}
